#!/usr/bin/env bash

watch_if_exists() {
    test -f "$1" && watch_file "$1"
}

watch_file flake.nix
watch_file flake.lock
watch_if_exists .nixd.nix

nix --extra-experimental-features 'nix-command flakes' eval --json --file .nixd.nix > .nixd.json || true

if [[ $(type -t use_flake) != function ]]; then
  echo "direnv version < 2.30.0: use_flake function missing, falling back to use_nix"
  use nix
else
  use flake
fi

layout ruby
